* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
}

::selection {
    color: #fff;
    background: #11101d;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    align-items: center;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin: 5px 0;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 120px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}

.sidebar ul li i {
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name {
    transition: 0s;
    opacity: 1;
    pointer-events: auto
}

.directContact {
    padding-top: calc(100vh - 62vh);
    bottom: 0;
}

@media (min-width: 1441px) {
    .directContact {
        padding-top: calc(100vh - 52vh);
        bottom: 0;
    }
}

.home_content {
    position: absolute;
    width: calc(100% - 78px);
    left: 78px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2px);
    transition: all 0.5s ease;
}

.sidebar.active~.home_content {
    z-index: 100;
}

.sidebar.active~.home_content {
    width: calc(100% - 240px);
    left: 240px;
}

.bigContainer {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    line-height: 1.8;
    font-size: 20px;

}

.cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100px;
}

.cellTi {
    font-size: 48px;
    grid-column: span 3;
    grid-row: span 1;
    font-family: 'Bebas Neue', cursive;
    background-color: #7BEBF0;
    padding-left: 50px;
    height: 100px;
}

.cellTri {
    grid-column: span 3;
    grid-row: span 1;
    padding-left: 50px;
}

.cellCoIz {
    grid-column: span 1;
    grid-row: span 1;
    padding-left: 50px;
}

.cellCoDe {
    grid-column: span 2;
    grid-row: span 1;
    padding-right: 50px;
}

.cellEd {
    grid-column: span 1;
    grid-row: span 1;
    padding: 50px;
}

.cellPer {
    grid-column: span 1;
    grid-row: span 1;
    padding: 50px;
}


.cellTspace{
    padding-top: 50px;
}

.cellBspace{
    padding-bottom: 50px;
}

.wimg{
    border-radius: 50%;
    width: 200px;
}

.cellColored {
    background-color: #f7f7fd;
    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes morph {
    0% { 
        background-color: #7BEBF0; 
        color: black;
    }
    25% { 
        background-color: #11101d; 
        color: white;
    }
    50% { 
        background-color: #7BEBF0; 
        color: black;
    }
    75% { 
        background-color: #11101d;
        color: white; 
    }
    100% { background-color: #7BEBF0; 
        color: black;
    }
  }

#wilson.swap { 
    animation: morph 2s ease-in-out; 
}
#educacion.swap { 
    animation: morph 2s ease-in-out; 
}
#experiencia.swap { 
    animation: morph 2s ease-in-out; 
}
#objetivos.swap { 
    animation: morph 2s ease-in-out; 
}